html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #ff0022;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card {
  max-width: 100%;
  width: 426px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #ff0022;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 5px;
}

.card-header {
  width: 100%;
  width: 40px;
  display: block;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.card-body-img {
  width: 180px;
  height: 180px;
  border: 5px solid white;
  border-radius: 10%;
  margin-top: calc(-48px + 15px);
}

.card-body-title {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.card-body-title span {
  color: darkgray;
  font-weight: 400;
}

.card-body-text {
  color: darkgray;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p {
  letter-spacing: 1px;
}
